/* header */
h6.card-title{
	font-weight:bold ;
}

.img-home {
	width: 80px;
	height: 52px;
	transition: width 1s;
	&:hover{
		width: 110px;
	}
}

/* INTENTO DE MIXIN */
@mixin tamanios($tamanio){
	font-size: $tamanio;
}
h1 {
	@include tamanios(1.9rem);	
	&:hover{
		color: #ff724b;
	}
}

h2 {
	@include tamanios(1.6rem);
	&:hover{
		color: #ff724b;
	}
}

h3 {
	@include tamanios(1.3rem);
}
a:link, a:visited {
	text-decoration: none;	
	color: #ff724b;
}
.btn {
	color: #ff724b;
}

b {
	color: rgb(229, 229, 229);
}
.navlink {
	color: rgb(229, 229, 229);
	font-family: Arial, Helvetica, sans-serif;
}
.navbar {
	background: linear-gradient(rgb(162, 162, 162), black);
}
.navbar-nav {
	a {	
		font-size: 20px;
		transition: .5s;
		&:hover{
			color: #fe744e;
			font-size: 22px;
			border: 1px solid #b29b9577;
			border-radius: 50%;
			background: rgba(93, 75, 75, 0.505);
		}
		i	{
		color: rgb(229, 229, 229);		
		}
	}
}