/* header */
h6.card-title{
	font-weight:bold ;
}

.img-home {
	width: 80px;
	height: 52px;
	transition: width 1s;
	&:hover{
		width: 110px;
	}
}

/* INTENTO DE MIXIN */
@mixin tamanios($tamanio){
	font-size: $tamanio;
}
h1 {
	@include tamanios(1.9rem);	
	&:hover{
		color: #ff724b;
	}
}

h2 {
	@include tamanios(1.6rem);
	&:hover{
		color: #ff724b;
	}
}

h3 {
	@include tamanios(1.3rem);
}
a:link, a:visited {
	text-decoration: none;	
	color: #ff724b;
}
.btn {
	color: #ff724b;
}

b {
	color: rgb(229, 229, 229);
}
.navlink {
	color: rgb(229, 229, 229);
	font-family: Arial, Helvetica, sans-serif;
}
.navbar {
	background: linear-gradient(rgb(162, 162, 162), black);
}
.navbar-nav a i {	
	color: rgb(229, 229, 229);
}